{% load i18n %}
{% trans "Здравствуйте!" %}

{% trans "Вы получили это письмо, потому что запросили сброс пароля на нашем сайте." %}

{% trans "Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% trans "Ваше имя пользователя:" %} {{ user.get_username }}

{% trans "Ссылка действительна в течение ограниченного времени." %}

{% trans "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}

{% trans "С уважением, команда Furniture Shop" %}